/* Default Style for everythins */
body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  color: #0246a0;
  background-color: white;
}

* {
  transition: .25s;
}

/* For Webkit Browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 10px; /* Width of the scrollbar */
}

/* Track (the background of the scrollbar) */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* Color of the scrollbar track */
}

/* Handle (the draggable part of the scrollbar) */
::-webkit-scrollbar-thumb {
  background: #888; /* Color of the scrollbar handle */
  border-radius: 5px; /* Rounded corners of the scrollbar handle */
}

